In [2]:
# Tipos de Variáveis
a = 'Guilherme '
b = a+ 'gente fina'
print(b)

Guilherme gente fina

In [3]:
# Tipos de variáveis - Inteira
c = 1
d = c+10
print(d)
print(type(d))

11
<class 'int'>

In [9]:
# Tipos de variáveis - float

f = 10.5
g = f*2
h = f**2
print('valor de g= ' +str(g)+' e o valor de h = ' +str(h))
print(type(h))
f=int(f)
print('Valor de f = '+str(f)+' do tipo= '+str(type(f)))
f=float(f)
print('Valor de f = '+str(f)+' do tipo= '+str(type(f)))

valor de g= 21.0 e o valor de h = 110.25
<class 'float'>
Valor de f = 10 do tipo= <class 'int'>
Valor de f = 10.0 do tipo= <class 'float'>

In [43]:
# Exemplo dicionário

dicionario = {
   'alunos':['Guilherme', 'Flávia', 'Lucas'],
   'notas':[3.0, 6.0, 6.0]
}

print(dicionario['alunos'])
print(dicionario['notas'])
print(type(dicionario['notas']))

['Guilherme', 'Flávia', 'Lucas']
[3.0, 6.0, 6.0]
<class 'list'>

In [44]:
# Treinando loop
for alunos in dicionario['alunos']:
    print(alunos)

Guilherme
Flávia
Lucas

In [45]:
# Treinando loop
for ii,aluno in enumerate(dicionario['alunos']):
    print(str(ii) + ' '+ aluno + ' nota= ' + str(dicionario['notas'][ii]))
print(' ')
for ii in range(0,len(dicionario['alunos'])):
    print(str(ii) + ' '+ str(dicionario['alunos'][ii]) + ' nota= ' + str(dicionario['notas'][ii]))

0 Guilherme nota= 3.0
1 Flávia nota= 6.0
2 Lucas nota= 6.0

0 Guilherme nota= 3.0
1 Flávia nota= 6.0
2 Lucas nota= 6.0

In [48]:
# Treinando loop com condição
for ii,aluno in enumerate(dicionario['alunos']):
    if aluno=='Guilherme':  #comparando
         print(str(ii) + ' '+ aluno + ' nota= 10.0')
    else:
        print(str(ii) + ' '+ aluno + ' nota= ' + str(dicionario['notas'][ii]))

print(' ')

for ii,aluno in enumerate(dicionario['alunos']):
    if ii==2:
         print(str(ii) + ' '+ aluno + ' nota= 10.0')
    else:
        print(str(ii) + ' '+ aluno + ' nota= ' + str(dicionario['notas'][ii]))

0 Guilherme nota= 10.0
1 Flávia nota= 6.0
2 Lucas nota= 6.0

0 Guilherme nota= 3.0
1 Flávia nota= 6.0
2 Lucas nota= 10.0

In [62]:
# Operações Lógicas
a = 1
b = 3
c = 1
print(a==b)  #Igual a - operação lógica
print(a==c)
print(a>b)
print(a<b)
print(a>=c)
print(a!=b) #diferente de

opTF = a!=c
print(type(opTF)) #VARIAVEL QUE SO PODE SER TRUE OU FALSE

opT = True
opF = False

False
True
False
True
True
True
<class 'bool'>

In [65]:
# Exemplo dicionário

dicionario = {
   'alunos':['Guilherme', 'Flávia', 'Lucas'],
   'notas':[9.5, 6.0, 6.0]
}

# Treinando loop com condição
for ii,aluno in enumerate(dicionario['alunos']):
    if (aluno=='Guilherme') and (dicionario['notas'][ii]<=9):  #comparando
         print(str(ii) + ' '+ aluno + ' nota= 10.0')
    else:
        print(str(ii) + ' '+ aluno + ' nota= ' + str(dicionario['notas'][ii]))

0 Guilherme nota= 9.5
1 Flávia nota= 6.0
2 Lucas nota= 6.0

In [75]:
# Treinando NumPy

import numpy as np
#convertendo pra numpy
mat = np.array(dicionario['alunos'])
print(mat)
print(type(mat))

print(' ')
mat2 = np.array(mat=='Lucas')
print(mat2)
#Local da matriz com valor verdadeiro
print(np.where(mat2))

print(' ')
dicionario['notas'][int(np.where(mat2)[0])]=9.5

['Guilherme' 'Flávia' 'Lucas']
<class 'numpy.ndarray'>

[False False  True]
(array([2], dtype=int64),)

C:\Users\Flavia\AppData\Local\Temp\ipykernel_14988\1504227326.py:16: DeprecationWarning: Conversion of an array with ndim > 0 to a scalar is deprecated, and will error in future. Ensure you extract a single element from your array before performing this operation. (Deprecated NumPy 1.25.)
  dicionario['notas'][int(np.where(mat2)[0])]=9.5

In [80]:
# Mtriz numpy

vec= np.random.rand(100)
print(vec)
vec2 = np.sin(vec)
print(vec2)

[0.79102775 0.04476291 0.82865173 0.13201242 0.2660741  0.56828095
 0.33389841 0.06835095 0.4244489  0.85428196 0.61661055 0.76767231
 0.95064399 0.50764546 0.10405711 0.45920265 0.76186242 0.23274639
 0.17976977 0.19450536 0.69017444 0.53299623 0.89478146 0.88103427
 0.69876885 0.72023872 0.71407452 0.54472352 0.12315542 0.08356572
 0.78382707 0.65561388 0.00624465 0.0169292  0.8491459  0.16421822
 0.14314373 0.92617034 0.22416031 0.79180003 0.57656301 0.36893977
 0.23707946 0.75422648 0.20386972 0.30964647 0.57423719 0.94536056
 0.00878736 0.2059066  0.6917147  0.33410789 0.64680209 0.98650709
 0.30259268 0.14307286 0.67535053 0.83355919 0.58826634 0.74563432
 0.69601098 0.63103442 0.37237333 0.70244659 0.926888   0.40722491
 0.18158916 0.97141568 0.49968119 0.18810435 0.20295563 0.71106612
 0.82789835 0.23651553 0.33368334 0.26437956 0.03794282 0.69354401
 0.52650301 0.60017197 0.34089773 0.47214291 0.83744529 0.91953828
 0.52481149 0.00868671 0.86320156 0.86495157 0.6387773  0.81137129
 0.33899335 0.06659004 0.7801356  0.13417371 0.25974179 0.98509381
 0.58337484 0.56328909 0.18633945 0.643617  ]
[0.71107628 0.04474796 0.73702079 0.13162931 0.26294572 0.53818398
 0.32772861 0.06829774 0.41181864 0.75409953 0.57827323 0.69446228
 0.81378993 0.48612098 0.10386943 0.4432335  0.6902702  0.23065073
 0.17880306 0.19328125 0.63667171 0.50811624 0.78007236 0.77139745
 0.64327557 0.65956412 0.65491831 0.51818165 0.12284434 0.0834685
 0.70599498 0.60964596 0.00624461 0.0169284  0.75071644 0.16348112
 0.14265539 0.79932457 0.22228776 0.71161906 0.54514579 0.36062674
 0.23486478 0.68472513 0.20246042 0.30472194 0.54319449 0.81070808
 0.00878725 0.20445469 0.63785871 0.32792652 0.60263751 0.83410436
 0.29799609 0.14258524 0.62517094 0.7403287  0.55491962 0.67843795
 0.6411616  0.58998029 0.36382713 0.64608701 0.7997556  0.39606271
 0.18059283 0.82568517 0.47914573 0.18699703 0.20156518 0.6526419
 0.73651139 0.23431659 0.32752542 0.26131043 0.03793371 0.63926648
 0.50251303 0.56478439 0.33433329 0.45479579 0.74293551 0.79532182
 0.50104987 0.0086866  0.75992749 0.76106385 0.59621427 0.72523199
 0.3325379  0.06654084 0.70337582 0.13377149 0.25683101 0.83332395
 0.55084374 0.53397002 0.18526296 0.60009271]

In [83]:
# Datetime

from datetime import datetime,timedelta

start_date=datetime(2024,1,1)

date_vector=[]

for i in range(0,vec.shape[0]): #se a matriz tiver duas dimensoes, a linha 0. neste caso é só uma
    date_vector.append(start_date+timedelta(days=i))

for date in date_vector:
    print(date.strftime('%Y-%m-%d'))

2024-01-01
2024-01-02
2024-01-03
2024-01-04
2024-01-05
2024-01-06
2024-01-07
2024-01-08
2024-01-09
2024-01-10
2024-01-11
2024-01-12
2024-01-13
2024-01-14
2024-01-15
2024-01-16
2024-01-17
2024-01-18
2024-01-19
2024-01-20
2024-01-21
2024-01-22
2024-01-23
2024-01-24
2024-01-25
2024-01-26
2024-01-27
2024-01-28
2024-01-29
2024-01-30
2024-01-31
2024-02-01
2024-02-02
2024-02-03
2024-02-04
2024-02-05
2024-02-06
2024-02-07
2024-02-08
2024-02-09
2024-02-10
2024-02-11
2024-02-12
2024-02-13
2024-02-14
2024-02-15
2024-02-16
2024-02-17
2024-02-18
2024-02-19
2024-02-20
2024-02-21
2024-02-22
2024-02-23
2024-02-24
2024-02-25
2024-02-26
2024-02-27
2024-02-28
2024-02-29
2024-03-01
2024-03-02
2024-03-03
2024-03-04
2024-03-05
2024-03-06
2024-03-07
2024-03-08
2024-03-09
2024-03-10
2024-03-11
2024-03-12
2024-03-13
2024-03-14
2024-03-15
2024-03-16
2024-03-17
2024-03-18
2024-03-19
2024-03-20
2024-03-21
2024-03-22
2024-03-23
2024-03-24
2024-03-25
2024-03-26
2024-03-27
2024-03-28
2024-03-29
2024-03-30
2024-03-31
2024-04-01
2024-04-02
2024-04-03
2024-04-04
2024-04-05
2024-04-06
2024-04-07
2024-04-08
2024-04-09

In [85]:
#Criando dataframe e salvando
import pandas as pd

df=pd.DataFrame()
df['datas'] = date_vector
df['vec'] = vec
df['vec2']=vec2
print(df)

#Salvando em uma pasta
pasta = r"C:\CPA\ENS5173_24-1_fla\tabelas"
df.to_csv(pasta+'/planilha.csv')

        datas       vec      vec2
0  2024-01-01  0.791028  0.711076
1  2024-01-02  0.044763  0.044748
2  2024-01-03  0.828652  0.737021
3  2024-01-04  0.132012  0.131629
4  2024-01-05  0.266074  0.262946
..        ...       ...       ...
95 2024-04-05  0.985094  0.833324
96 2024-04-06  0.583375  0.550844
97 2024-04-07  0.563289  0.533970
98 2024-04-08  0.186339  0.185263
99 2024-04-09  0.643617  0.600093

[100 rows x 3 columns]